.stepper {
    position: absolute;
    padding-top: 90px;
    right: 0px;
    z-index: 1;
}

.step {
    position: relative;
    min-height: 1em;
    cursor: pointer;
}

.step+.step {
    margin-top: 1.5em
}

.step.step-done .circle {
    background-color: #bcec4d;
    color: #0156f2;
}

.step.step-active .circle {
    background-color: #3074ff;
    width: 35px;
    height: 35px;
    margin-left: -46px;
    font-size: 23px;
}

.circle {
    background: #0156f2;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    transition: all 300ms ease-in-out;
    margin-left: -41px;
}


@media (max-width: 650px) {
    .stepper {
        display: none
    }
}