.loader-content .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    opacity: 1;
}

.loader-content .text {
    width: 100%;
    position: absolute;
    top: 55%;

}

.loader-content .text p {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-transform: uppercase
}

.loader2 {
    margin: 0 auto;
    position: absolute;

    top: 50%;
    left: 50%;
    width: 50px;
    transform: translate(-50%, -50%);

}

.loader2.logo {
    top: 43%;
    width: 90px;
}