.content-plan {
  padding: 100px 0;
  padding-bottom: 60px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total .title {
  color: #3a6ea7;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -10px;
  text-align: end;
  padding-right: 8px;
}

.total .ammount {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: end;
}

#paypal-button {
  width: 22%;
}

.required:after {
  content: ' *';
  color: red;
  font-weight: 700;
}

table {
  width: 100%;
}

tr .td-end {
  width: 43px;
  color: darkgray;
}

tr .td-first {
  width: 160px;
}

table tr td.titleplan {
  width: 80%;
}

table tr td.titleplan h4 {
  color: #3a6ea7;
}

table tr .planvalue h4 {
  text-align: end;
  font-weight: bold;
  color: #3a6ea7;
}

.extra {
  color: #505050;
  margin-top: 30px;
}

select:focus {
  border-color: #3a6ea7;

  background-image: linear-gradient(45deg, #4db2ec 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #4db2ec 50%);
  background-position: calc(100% - 15px) 12px, calc(100% - 20px) 12px,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #4db2ec;
  outline: 0;
}

select option {
  color: black;
  text-align: justify;
}

span {
  font-size: 13px;
  color: #909090;
  font-weight: 700;
}

span.check {
  color: #cccccc;
  font-size: 15px;
  width: 90%;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  transform: scale(1);
  vertical-align: middle;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 2px;
  left: 2px;
  fill: darkgray;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #4db2ec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #4db2ec;
}

.inp-cbx:checked + .cbx span:first-child svg {
  fill: #4db2ec;
  border-color: #4db2ec;
  transform: rotate(45deg);
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@media (max-width: 575.98px) {
  #paypal-button {
    width: 50%;
  }

  .content-plan {
    padding: 20px 0;
  }

  table tr td.titleplan {
    width: 70%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #paypal-button {
    width: 50%;
  }

  .content-plan {
    padding: 50px 0;
  }

  table tr td.titleplan {
    width: 70%;
  }
}
