.section-textbadhabits {
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-textbadhabits {
        font-size: 60px;
        line-height: 53px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-textbadhabits {
        font-size: 59px;
        line-height: 60px;
    }
}

@media (max-width: 575px) {
    .section-textbadhabits {
        font-size: 36px;
        line-height: 121%;
    }
}