.gauge__description {
    font-size: 16px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: -16px
}

.gauge__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
}

.gauge__value {
    text-align: center;
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    margin: 0 15px;
}

.gauge__value p {
    margin-bottom: 0px;

}

.gauge__value .bmi {
    font-size: 14px;
    color: #3a6ea7;
    margin-top: -15px;
}

.gauge__peso {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 15px;
    display: flex;
    margin-bottom: -30px;
}

.gauge__peso p {
    margin-bottom: 0px;
    margin-right: 5px;
}