.arrows {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 2%;
}

.arrows ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.arrows ul li {
    float: left;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
}

.arrows ul li.disable {
    color: #0156f2;
    cursor: pointer;
}

.arrows ul li.enable {
    color: white;
}

.arrows ul li.enable:hover {
    transform: scale(1.03);
}

.arrows ul li.enable.next {
    margin-top: -7px;
    font-size: 20px;
}

@media (max-width: 575px) {
    .arrows {
        margin-top: 8%;
    }

}