.no-show {
    color: white;
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 43rem;
    font-size: 28px;
    left: 0;
    margin: 0 auto;
    /* width: auto; */
    right: 0;
}
.result__titles {
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 19px;
    color: #4db2ec;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.result__subtitles {
    margin-top: -16px;
    font-size: 14px;
    color: #3a6ea7;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;

}

.result__values {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}

.result__values span {
    font-size: 27px;
    margin-left: -17px;
}

.result__pactivity {
    display: flex;
}

.result__pactivity button {
    font-size: 10px !important;
    margin: 6px 3px;

}

.result__subtitles_gauge {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: -26px;
}

.watericons {
    color: white;
    font-size: 40px;
    margin: 0 20px;
    align-items: center;
}

.watericons .nivel {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.watericons .row {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
}

.watericons p {
    position: absolute;
    font-size: 12px;
    text-align: center;
    border-top: 2px solid;
    bottom: -20px;
    width: 100px;
}

.ant-slider-mark-text {
    width: 50px;
}

#desdgrave {
    bottom: -38px;
}


.ant-slider-with-marks {
    margin-left: 20%;
    margin-right: 20%;
}

.toast-bottom-center {
    z-index: 3000;
}

.ant-slider-handle {
    position: absolute;
    width: 21px !important;
    height: 21px !important;
    margin-top: -7px !important;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calmantenimiento {
    margin-bottom: -10px;
    margin-top: 0px;
}

#maxpotencial {
    margin-bottom: -10px;
    margin-top: 26px;
}

#macro {
    margin-bottom: -10px;
}

#recomendados {
    margin-bottom: -10px;
    margin-top: 0px
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .watericons .nivel {
        width: 18px;
        height: 18px;
        margin: 0 3px;
    }

    .watericons p {
        bottom: -30px;
        font-size: 10px;
        width: 60px;
    }

    #desdgrave {
        bottom: -40px;
        font-size: 9px;
    }

    .gauge__content {
        margin-top: -9px;
    }

    #pesoideal {
        padding-top: 0px !important;
    }

    .gauge__description {
        font-size: 13px;
    }

    #mpmvalue {
        font-size: 55px !important;
    }

    .ant-slider-with-marks {
        margin-left: 10%;
        margin-right: 10%;
    }

    #calmantenimiento {
        margin-top: 40px;
        margin-bottom: -12px;
    }

    #calrecomendadas {
        margin-top: 30px;
        margin-bottom: -12px;
    }

    #maxpotencial {
        margin-bottom: 0px;
    }

    #macro {
        margin-bottom: -9px;
    }

    #recomendados {
        margin-top: 28px;
        margin-bottom: -10px;
    }

    #orina {
        margin-top: -8px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}