.element {
    text-align: center;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.element label {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3a6ea7;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.element .icon {
    font-size: 130px;
    margin-bottom: -27px;
    color: #3a6ea7;
    transition: all 150ms ease-in-out;
}

.element:hover {
    transform: scale(1.03);
}

.element:hover .icon.male {
    color: #0090FF;
}

.element:hover .icon.female {
    color: #FF0068
}

.element:hover label.male {
    color: #0090FF;
}

.element:hover label.female {
    color: #FF0068
}

.element.active label.male,
.element.active label.female {
    color: #bcec4d;
}

.element.active .icon.male,
.element.active .icon.female {
    color: #bcec4d;
}

.options p {
    margin-bottom: 2%;
    color: #bebaba;
    text-align: center;
}




@media (max-width: 575px) {
    .element label {
        font-size: 23px;
    }

    .element .icon {
        font-size: 95px;
        margin-bottom: -23px;
    }

    .element label {
        font-size: 15px;
    }

    .options p {
        font-size: 10px;
    }
}