.section-text {
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options p.textHelp {
    margin-bottom: 2%;
    color: #bebaba;
}

.red {
    color: red !important;
}

.form-control {
    color: #ffffff !important;
    background-color: transparent !important;
}

.pageContent {
    padding: 6% 0;
    height: 380px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
    }

    .pageContent {
        height: 450px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
    }

    .pageContent {
        height: 380px;
    }
}

@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
        line-height: 121%;
    }

    .options p.textHelp {
        font-size: 10px;
    }

    .pageContent {
        height: 267px;
        padding: 3% 0;
    }
}