.menu-header {
    background-color: white;
    height: 27px;
}
.menu-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0px !important;
    overflow: hidden;
    float:right;
}

.menu-header ul li {
    float: left;
}

.menu-header ul li a {
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
}
.main-menu ul li a.btn-primary{
    color: #fff !important;
    border-radius: 4px;
}

.menu-header ul li a:hover, .menu-header ul li a:focus {
    color: #014AD0;
}


header {
    box-shadow: 0 0 6px 8px #00000012;
}
.logo {
    width: auto;
}
.logo img{
    height: auto;
    width: 195px;
    padding: 6px 0;
    line-height: 106px;
    vertical-align: middle;
    margin-right: 45px;
}
.logo a {
    display: contents
}
.nav {
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.main-menu {
    width: auto;
}
.main-menu ul {
    margin-top: 0px;
    padding: 0px;
    float: right;
    list-style-type: none;
    margin-bottom: 0 !important;
}
.main-menu ul li {
    float: left;
    cursor: pointer;
}
.main-menu ul li.active a {
    color: #014AD0;
}
.main-menu ul li:hover a {
    color: #014AD0;
}
.main-menu ul li a {
    color: #fff;
    text-align: center;
    padding: 17px 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu {
        width: 100%;
        display: flex;

    }
    .main-menuul {
        float: none;
        margin: 25px auto;
        padding: 0;

    }
    .main-menu ul {
        margin: 25px auto;
    }

    .main-menu ul li {
        line-height: 75px;
    }
    .menu-header {
        display: none;
    }
    .logo {
        width: 100%;
        display: flex;

    }
    .logo img {
        margin: 0 auto -55px auto;
        max-height: 80px;
        width: 90px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-menu {
        width: 100%;
        display: flex;

    }
    .main-menu ul {
        float: none;
        margin: 30px auto;
        padding: 0;

    }
    .main-menu ul li {
        line-height: 56px;
        height: 61px;

    }
    .main-menu ul li a {
        font-size: 9px;
        padding: 7px;
    }
    .menu-header {
        display: none;
    }
    .logo {
        width: 100%;
        display: flex;

    }
    .logo img {
        margin: 0 auto -55px auto;
        max-height: 60px;
        width: 70px;
    }
}

@media (max-width: 575px) {
    .main-menu {
        width: 100%;
        display: flex;
    }
    .main-menu ul {
        float: none;
        margin: 0px auto;
        padding: 0;
    }
    .main-menu ul li {
        line-height: 39px;
        height: 44px;
    }
    .main-menu ul li a {
        padding: 7px;
        font-size: 10px;
    }
    .menu-header {
        display:none;
    }
    .logo {
        width: 100%;
        height: 60px;
        display: flex;

    }
    .logo img {
        margin: 0 auto -55px auto;
        max-height: 60px;
        width: 70px;
    }
}

@media (max-width: 330px) {
    .main-menu ul li a {
        font-size: 7px;
        padding: 7px;
    }
    .menu-header {
        display:none;
    }
}