.intro__content {
  margin: 9% 0;
}

.intro__content h1 {
  text-align: center;
  font-weight: bold;
}

.intro__content p {
  margin: 0 26%;
  text-align: center;
  font-weight: lighter;
}

.intro__content img {
  display: flex;
  margin: 2rem auto;
  width: 25%;
}

.intro__content a {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

@media (max-width: 575px) {
  .intro__content img {
    width: 30%;
  }

  .intro__content h1 {
    font-size: 20px;
  }

  .intro__content p {
    margin: 0 15px;
  }

  #buttons {
    margin: 10px !important;
    margin-top: 20px !important;
  }

  #textsection {
    margin-top: 80% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .intro__content img {
    width: 30%;
  }

  .intro__content p {
    margin: 0 15px;
  }
}