.elementicon {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    cursor: pointer;

}

.elementicon img {
    width: 70px;
    margin: 5% auto;
    display: block;
    filter: invert(37%) sepia(57%) saturate(584%) hue-rotate(171deg) brightness(95%) contrast(86%);
    height: 70px;
}

.option-active {
    color: #bcec4d;

}

.option-active img {
    filter: invert(100%) sepia(29%) saturate(3645%) hue-rotate(23deg) brightness(109%) contrast(87%);
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
    }
}

@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
    }

    .options p {
        font-size: 10px;
    }

    .elementicon {
        font-size: 10px;

    }

    .elementicon img {
        width: 50px;
        margin: 5% auto;
        height: 50px;
    }

    .elementicon label {
        font-size: 9px;
    }
}

@media (hover:hover) {
    .elementicon:hover {
        color: #4db2ec;
        transform: scale(1.03);
    }

    .elementicon:hover img {
        filter: invert(77%) sepia(39%) saturate(5858%) hue-rotate(176deg) brightness(103%) contrast(85%);
    }

    .option-active:hover {
        color: #bcec4d;
        transform: scale(1.03);
    }

    .option-active:hover img {
        filter: invert(100%) sepia(29%) saturate(3645%) hue-rotate(23deg) brightness(109%) contrast(87%);
    }
}