.menu-footer {
  background-color: #040D20;
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.menu-footer div {
  display: flex;
}

.menu-footer div div {
  margin: 0 auto;
}

.menu-footer ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.menu-footer ul li {
  float: left;
}

.menu-footer ul li a {
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.menu-footer ul li a:hover,
.menu-footer ul li a:focus {
  color: #4db2ec;
}
.menu-footer span a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}
.info {
  padding-top: 3rem;
  padding-bottom: 14rem;
}
.info-title {
  margin: 3rem 0px;
  text-align: center;
}
.info-title h1 {
  margin-bottom: 3rem;
  font-weight: bold;
}
.info-title a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #4db2ec;
  padding: 1rem 3rem;
  margin: 1rem;
  font-size: 24px;
}
.info-images {
  margin: 6rem 0px;
}
.info-images .colum-images {
  column-count: 6;
  column-gap: 0.5em;
}
.info-images img {
  max-width: 100%;
  padding: 4px 0px;
}
.info-description {
  margin-top: 5rem;
}
.info-description h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  margin-bottom: 3rem;
}
.info-description p,
.info-description h5 {
  text-align: center;
  color: white;
}
.info-description__subtitle {
  font-weight: bold;
}
.info-news {
  text-align: center;
}
.info-news .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0px;

  margin-bottom: 10rem;
}
.info-news h1 {
  font-weight: bold;
  margin: 4rem 0px;
}
.info-news .images-container img {
  width: 230px;
  margin: 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(185deg)
    brightness(102%) contrast(104%);
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-footer {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-footer {
    flex-direction: column-reverse;
    text-align: center;
  }
  .info-images .colum-images {
    column-count: 4;
    column-gap: 0.5rem;
  }
}

@media (max-width: 575px) {
  .info-images .colum-images {
    column-count: 3;
    column-gap: 0.5rem;
  }
  .info-description {
    margin: 0rem;
  }
  .info-description h1 {
    font-size: 1.5rem;
  }
  .menu-footer {
    height: auto;
    flex-direction: column-reverse;
    text-align: center;
  }
  .menu-footer ul li a {
    padding: 6px;
    font-size: 8px;
  }
  .menu-footer ul {
    margin: 0 auto;
  }
}

@media (max-width: 330px) {
  .menu-footer {
    height: auto;
    flex-direction: column-reverse;
    text-align: center;
  }

  .menu-footer ul {
    margin: 0 auto;
  }

  .menu-footer ul li a {
    padding: 6px;
    font-size: 8px;
  }
  .info-description {
    margin: 0rem;
    margin-bottom: 1rem;
  }
  .info-description h1 {
    font-size: 1.5rem;
  }
}
