.options {
    text-align: center;
}

.options button {
    background-color: transparent;
    color: #3a6ea7;
    font-size: 14px;
    font-weight: 800;
    text-rendering: auto;
    border: 3px #3a6ea7;
    border-radius: 31px;
    display: block;
    padding: 6px 12px;
    text-align: center;
    border-style: solid;
    margin: 6px auto;
    width: 90%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.options button:hover {
    border-color: #4db2ec;
    color: #4db2ec;
    transform: scale(1.03)
}

.options button.active {
    border-color: #bcec4d;
    color: #bcec4d;
    outline: none;
}

.options button:focus {
    outline: none;
}

.options p.textHelp {
    margin-bottom: 2%;
    color: #bebaba
}

@media (max-width: 575px) {
    .options button {
        font-size: 9px;
        width: 100%;
        padding: 4px 10px;
    }

    #actividadfisica {
        font-size: 42px !important;
    }

}