.options {
    padding-right: 25px;
    padding-left: 25px;
}

.text-start {
    text-align: start !important;
}
.options .type {
    text-align: end;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.options .type p {
    color: #3a6ea7;
    font-weight: 700;
    padding: 7px 0px 7px 10px;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

}

.options .type p.active {
    color: #4db2ec;
    font-size: 14px;
    text-decoration: underline
}

.options input {
    background-color: transparent;
    border-style: solid;
    border-color: #3a6ea7;
    width: 100%;
    color: white;
    margin: 6px auto;
    padding: 6px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;

}

label.danger {
    color: #ec4d4d !important;
}
label.danger:before {
    border: 2px solid #ec4d4d ;
}
.options input:focus {
    border-color: #4db2ec;
    outline: none
}

.options input.danger {
    border-color: #ec4d4d;
}

.options input.valid {
    border-color: #bcec4d;
}

.options span {
    flex: 1;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -45px;
    margin-right: 12px;
    color: white;
    background-color: #0156f2;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    padding-top: 2px;

}

.options span:focus {
    border-color: #4db2ec;
}

.options span.danger {
    border-color: #ec4d4d;
}

.options span.valid {
    border-color: #bcec4d;
}

.options .group-input {
    display: flex;
    align-items: center;
}

select {
    height: max-content;
    background-color: transparent;
    border-style: solid;
    border-color: #3a6ea7;
    border-width: 2px;
    width: 100%;
    color: white !important;
    text-align: center;
    margin: 6px auto;
    padding: 6px;
    border-radius: 20px;
    -webkit-appearance: none;
    appearance: none;
    transition: all 150ms ease-in-out;
    text-align-last: center;
    background-image:
        linear-gradient(45deg, transparent 50%, #3a6ea7 50%),
        linear-gradient(135deg, #3a6ea7 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    border-color: #4db2ec;
    background-image:
        linear-gradient(45deg, #4db2ec 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #4db2ec 50%);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: #4db2ec;
    outline: 0;
}

select option {
    color: #3a6ea7;
}

select.danger,
select option.danger {
    border-color: #ec4d4d;
}

select.valid,
select option.valid {
    border-color: #bcec4d;
}

.form-control {
    border: 2px solid #3a6ea7 !important;
}

button {
    background-color: transparent;
    color: #3a6ea7;
    font-size: 14px;
    font-weight: 800;
    text-rendering: auto;
    border: 3px #3a6ea7;
    border-radius: 31px;
    display: block;
    text-align: center;
    border-style: solid;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    padding: 7px 3%;

}

button.done {
    cursor: pointer;
    border-color: #bcec4d;
    background-color: #bcec4d !important;
    color: #3a6ea7 !important;

}

button.done:hover {
    transform: scale(1.03)
}

button:focus {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-end .acuerdo {
    font-size: 10px;

}

.form-end .acuerdo span {
    font-size: 11px;
    color: #909090;
    font-weight: normal !important;
    background: none !important;
    text-align: start !important;
}

input {
    padding: 0 10px;
}


input[type="checkbox"] + * {
    display: inline-block;
    padding: 0rem 1rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: white !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(58, 110, 167)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color:white !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%233a6ea7' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
}
.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.custom-control {
    padding-left: 0rem !important;
}
.custom-control-label {
    margin-left: 1.5rem !important;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
.form-check-inline {
    margin-right: 0rem !important;
}
.mobile {
    display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .options {
        padding-right: 35px;
        padding-left: 35px;
    }
}

@media (max-width: 575px) {
    .options {}

    .options input {
        padding: 0px 10px;
    }
    .options .type p {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .form-control {
        height: fit-content;
        padding: 0px 10px;
    }
    select {
        margin: 6px auto !important;
        height: fit-content;
        padding: 0 10px;
        background-position: calc(100% - 20px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px), calc(100% - 2.5em) 0.5em;
    }
    select:focus {
        border-color: #4db2ec;
        background-position:
                calc(100% - 15px) 10px,
                calc(100% - 20px) 10px,
                calc(100% - 2.5em) 0.5em;
    }
    .options span {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 9px;
    }

    button {
        font-size: 13px;
        padding: 4px 3%;
    }
    .mobile {
        display: block;
    }
    .nomobile {
        display: none;
    }
    .acuerdo p{
        font-size: 8px;
    }
}