.endpage .title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.endpage .subtitle p {
    text-align: center;
}

.recalculate {
    text-align: center;
    color: #3a6ea7;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}