@font-face {
  font-family: "Mona-Sans-ExtraBold";
  src: url("assets/fonts/Mona-Sans-ExtraBold.otf");
}

@font-face {
  font-family: "Mona-Sans-Regular";
  src: url("assets/fonts/Mona-Sans-Regular.otf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a !important;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

label {
  color: white !important
}

.bg {
  background-image: url('../src/assets/img/fullmusculo_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Mona-Sans-ExtraBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h1, .h2, .h3, .h4, .h5 {
  font-family: 'Mona-Sans-ExtraBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p, a, li, span, b, div, input, label, .btn, text {
  font-family: 'Mona-Sans-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-primary {
  background-color: #0156f2 !important;
  border-color: #0156f2 !important;
}