.firstpageTitle {
    text-align: center;
    font-weight: 700;
    color: #0156f2;
    margin: 20px;
    margin-bottom: 10px;
}

.firstpageTitle h1,
.firstpageTitle h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.enddescription {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #212529;
    box-shadow: -5px 5px 20px 0 #0000006b;
    border-radius: 5px;
    height: 100%;
}

.enddescription h5 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.enddescription h3 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.enddescription ul {
    list-style: none;
    padding: 0 20px;
}

.enddescription ul li {
    color: #fff;
    width: 100%;
    font-size: 16px;
    margin-bottom: 2%;
}

.enddescription ul li:before {
    content: '✓ ';
    color: #bcec4d;
    font-weight: 700;
}

.price {
    margin: -6% auto;
    text-align: center;
    font-weight: 700;
    border-radius: 100px;
    padding: 9% 0;
    color: #bcec4d;
}

.price h4 {
    font-size: 70px;
    margin-top: -3%;
    color: #bcec4d !important;
    font-weight: 700;
}

.price h4 span {
    color: #bcec4d !important;
    font-size: 34px;
    margin-left: -16px;
    vertical-align: super;
}